body {
    font-family: 'Lato', sans-serif;
    background-color: #ddd;
   }
   .models {
   padding-top: 120px;
   }
   .card-img-top {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    }
   .card-body{
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5);
}
   .card-body h6 {
   font-size: 14px;
   text-transform: uppercase;
   color: deeppink;
   }
   .card-title {
   text-transform: uppercase;
   font-weight: bold;
   font-size: 24px;
   }
   
   .socials a {
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 50%;
   margin: 0 5px;
   }
   .socials a i {
   color: #fff;
   padding: 12px 0;
   }    
   
   .socials a:nth-child(1) {
   background: #3b5998;
   }.socials a:nth-child(2) {
   background: #ff0000;
   }.socials a:nth-child(3) {
   background: #007bb5;
   }.socials a:nth-child(4) {
   background: #ff0000;
   }
   
   @media (max-width: 800px){
       .mx-30{
           margin-bottom: 30px;
       }
   }





/* option*/

   .card{
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;

   }

   .card:hover{
    transform: translatey(15px);
}
.card:hover:before{
    opacity: 1;
}

.card:before{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}


.card:hover .card-body{
    opacity: 1;
    transform: translatey(0);
}


.card-body{
    width: 100%;
}


.card .card-body{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity:0;
    transform: translateY(60px);
    transition: 0.5s;
}

.card h5{
    margin: 0;
    letter-spacing: 3px;
}


.card img{
    width: 100%;
    height: 350px;
    position:sticky;
    top: 0;
    left: 0;
    object-fit: cover;
}




.models{
	padding: 55px 0;
	text-align: center;
}
.models h1{
    padding-top: 70px;
	font-style: 45px;
	margin-bottom: 55px;
	color: #04204a;
}



/*Footer style*/

.footer{
	padding: 55px 0 25px;
	background-color: #ddd;
}
.footer h5{
	color: #04204a;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #04204a;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.footer ul{
	padding-left: 0;
	list-style: none;
}
.footer ul li{
	line-height: 28px;
	font-weight: 600;
}
.footer ul li a{
	color: #04204a;
}
.footer ul li a:hover{
	color: #ffffff;
}
.footer p{
	color: #04204a;
	margin-bottom:7px;
}


/*copyright style*/

.copyright{
	height: 40px;
	background-color: #ddd;
	line-height: 40px;
}
.copyright p{
	margin-bottom: 0;
	color: #04204a;
	text-align: center;
}